<section>
    <div class="tile box is-vertical">
            <p class="title">Configuration: </p>
                <b-table
                        :data="configuration"
                        ref="table"
                        :detailed=true
                        custom-detail-row
                        detail-key="pattern"
                        :show-detail-icon=true>
                    <template slot-scope="props">
                        <b-table-column
                                field="pattern"
                                :visible="columnsVisible['pattern'].display"
                                :label="columnsVisible['pattern'].title"
                                width="300"
                                sortable>
                            <template v-if="showDetailIcon">
                                {{ props.row.pattern }}
                            </template>
                            <template v-else>
                                <a type="is-primary" @click="toggle(props.row)">
                                    {{ props.row.pattern }}
                                </a>
                            </template>
                        </b-table-column>

                        <b-table-column
                                field="cost"
                                :visible="columnsVisible['cost'].display"
                                :label="columnsVisible['cost'].title"
                                sortable
                                centered>
                            {{ props.row.cost }}
                        </b-table-column>

                        <b-table-column
                                field="available"
                                :visible="columnsVisible['tacticName'].display"
                                :label="columnsVisible['tacticName'].title"
                                sortable
                                centered>
                            {{ props.row.tacticName }}
                        </b-table-column>

                        <b-table-column
                                :visible="columnsVisible['modificationType'].display"
                                :label="columnsVisible['modificationType'].title"
                                centered>
                            {{ props.row.modificationType }}
                        </b-table-column>
                    </template>

                    <template slot="detail" slot-scope="props">
                        <tr v-for="item in props.row.configuration">
                            <td v-if="showDetailIcon"></td>
                            <td v-show="columnsVisible['tacticName'].display" class="has-text-centered"></td>
                            <td v-show="columnsVisible['tacticName'].display" class="has-text-centered"></td>
                            <td v-show="columnsVisible['tacticName'].display" class="has-text-centered">{{ item.tactic_name }}</td>
                            <td v-show="columnsVisible['modificationType'].display" class="has-text-centered">{{ item.modification_type_name }}</td>
                        </tr>
                    </template>
                </b-table>
            <b-button type="is-primary" @click="onStartClicked" expanded>I want another time!</b-button>
    </div>
</section>

