<section>
    <div class="columns is-desktop">
        <div class="column"/>
        <div class="column">
            <div class="content">
                <p class="title">User preferences: </p>
                <section>
                    <div class="content">
                        <b-field label="Preferable pattern: ">
                            <b-select v-model="selected" expanded>
                                <option
                                        v-for="pattern in pattern"
                                        :value="pattern.id"
                                        :key="pattern.id">
                                    {{ pattern.name }}
                                </option>
                            </b-select>
                        </b-field>
                    </div>
                    <b-button type="is-primary" @click="onGenerateConfigurationClicked" expanded>Generate variants!</b-button>
                </section>
            </div>
        </div>
        <div class="column"/>
    </div>
</section>
